@media (min-width: 768px){
	.navbar-nav {
	    float: right;
	}
	.navbar-nav>li {
    float: right;
	}
}
.nav>li{
	text-align: right;
}
.footer{
	/*position: absolute;*/
    bottom:  0;
    text-align: center;
    background: #680e0e;
    width: 100%;
    padding: 15px 5px 5px 5px;
}
.item_1{
	background: url('../img/slider_1.jpg');
	height: 100vh;
	background-size: cover;
    background-repeat: no-repeat;
}
.item_2{
	background: url('../img/slider_2.jpg');
	height: 100vh;
	background-size: cover;
    background-repeat: no-repeat;
}
.item_3{
	background: url('../img/slider_3.jpg');
	height: 100vh;
	background-size: cover;
    background-repeat: no-repeat;
}
.main_container{
	padding-top: 25px;
	padding-bottom: 25px;
}
.carousel-inner{
	height: 100vh;
}
.sorting_ul{
	list-style: none;
}
.sorting_li{
	text-align: center;
    background: #680e0e;
    padding: 10px 0px 10px 0px;
    border-left: 1px solid white;
}
a{
	color: white;
    font-size: 18px;
    text-decoration: none;
}
.book_card{
	direction: rtl;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
    transition: all 500ms;
}
.book_card:hover{
	transform: scale(1.03);
	background: #c5c5c5;
}
.book_container{
	padding: 200px 0px 200px 5px;
}
.nav-style {
    background: #680e0e;
    text-align: center;
}
.nav-pills>li+li {
    margin-left: 0px; 
}
.tab-pane form{
	direction: rtl;
    margin-top: 30px;
    border: solid 1px #680e0e;
    padding: 10px;
    border-radius: 9px;
}  
th{
	text-align: right;
}
.close{
	float: left;
}
.categories_list {
    list-style: none;
    direction: rtl;
    background: #313131;
    padding: 40px;
    line-height: 35px;
    border-radius: 15px;
}
.categories_list li{
	border-bottom: solid 1px white;
}